* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #af7407;
}

#container {
    padding-bottom: 80px;
}

.logo {
    height: 50px;
    width: 50px;
}

#image-voiture {
    height: 370px;
}

#image-voiture2 {
    height: 150px;
    margin-left: 80px;
    margin-bottom: 50px;
}

#carouselExampleIndicators {
    max-width: 400px !important;
    height: 200px;
    padding: 20px 0 20px 0;
}

.carousel-indicators {
    margin: 0 !important;
    list-style: none;
}

.carousel-inner {
    height: 200px !important;
}

.carousel-item {
    height: 200px !important;
    overflow: hidden;
}

.carousel-item active {
    width: 100%;
    margin-right: 0 !important;
}

.carousel-item img {
    width: 250px;
    height: 150px;
    margin: auto;
    object-fit: cover;
}

.starsimg {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.footer-text {
    height: 62px;
}