.body {
    background-color: #af7407;
}

.logo {
    height: 50px;
    width: 50px;
}

#image-voiture {
    height: 370px;
}

#image-voiture2 {
    height: 150px;
    margin-left: 80px;
    margin-bottom: 50px;
}

#carousel-indicators {
    margin-bottom: 30px;
}

.container {
    margin-top: 20px;
}

.starsimg {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}