{% extends 'base.html.twig' %}

{% block title %}utilisateurs
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Utilisateurs</h1>
		<p>Bienvenue sur la page des utilisateurs</p>
	</div>
	<div class="container mb-5">
		<img class="img-fluid img-thumbnail" src="images/conception-collage-personnes_23-2148888271.avif">
	</div>
{% endblock %}
